/****** Reset ******/
* {
  margin: 0;
  padding: 0;
}
/****** Reset ******/

/****** Import CodeMirror Styles ******/
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/material";
/****** Import CodeMirror Styles ******/

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p-20 {
  padding: 20px;
}

.min-vh-100 {
  min-height: 100vh;
  overflow: auto;
  box-sizing: border-box;
}

.sidenav {
  width: 400px;
}

.editor {
  width: 1000px;
  margin: auto;
}
