/****** Reset ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/****** Reset ******/

/****** Import CodeMirror Styles ******/
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/material";
/****** Import CodeMirror Styles ******/

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}


.w-80 {
  width: 80%;
}

.mw-500 {
  min-width: 500px;
}

.p-20 {
  padding: 20px;
}

.min-vh-100 {
  min-height: 100vh;
  overflow: auto;
}

.sidenav {
  width: 400px;
}

.m-auto {
  margin: auto;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.d-block {
  display: block;
}

